#multiRadio{
    display: none;
}
#checkMultiply{
    display: none;
}
#divideTaskA{
display: none;

}
#divideTaskB{
display: none;

}

#divideTaskC{

display: none;
}
#divideAnswer{
    display: none;
}

#checkDivide{
    display: none;
}
#prosentTaskOne{
    display: none;
}
#prosentTaskTwo{
    display: none;
}
#prosentTaskThree{
    display: none;
}
